.flex-center
  display: flex
  justify-content: center
  align-items: center

.flex-center-entire
  display: flex
  justify-content: center
  flex-grow: 1
  width: 100%

.flex-row-auto
  display: flex
  flex-direction: row
  margin: auto

.tour-item
  display: flex
  flex-direction: column
  width: 20rem
  height: 15rem
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.16)
  border-radius: $radius-small
  margin: $margin-m
  background-color: $color-white
  text-decoration: none

.tour-item-content
  display: flex
  flex-direction: column-reverse
  align-items: center
  margin: auto
  height: 100%

.tour-item-top-wrapper
  flex: 1

.tour-item-bottom-wrapper
  display: flex
  flex-direction: column
  justify-content: space-around
  margin: $margin-xs $margin-xs 0 $margin-xs

.avatar
  width: 10rem
  height: 10rem
  border-radius: 50%
  margin-bottom: $margin-s

.team-item
  display: flex
  flex-direction: column
  align-items: center
  margin: $margin-m
  width: 20rem

.bg-cover
  background-position: center center
  background-size: cover

.instafeed
  display: flex;

.instafeed-item
  flex: 1

.instafeed-item-image
  width: 100%
  height: 100%