@import "./variables.sass"
  
// header

header
  min-height: 4rem
  background-color: $color-primary

nav
  display: flex
  align-items: center

.logo
  height: 4rem

.nav-item
  color: $color-white
  margin-left: 1rem
  text-decoration: none
  text-transform: uppercase
  font-size: 1.1em

.nav-social
  display: flex
  flex-direction: row
  align-items: center
  margin-left: auto

.social-link
  height: 1.5rem
  margin-left: .5rem


// footer

footer
  min-height: 4rem
  background-color: $color-secondary

