@import "~normalize.css/normalize.css"

// variables

$color-primary: #dd3333
$color-secondary: #1B222C
$color-white: #fff

body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  line-height: 1.5
  color: #1B222C

main
  width: 100%
  min-height: 100vh
  height: 100%
  display: flex
  flex-direction: column

section
  width: 100%
  flex: 1

.content
  width: 100%
  max-width: 1440px
  display: flex
  flex-wrap: wrap
  margin-left: auto
  margin-right: auto
  padding: 0 1rem

// header

header
  min-height: 4rem
  background-color: $color-primary

nav
  display: flex
  align-items: center

.logo
  height: 4rem

.nav-item
  color: $color-white
  margin-left: 1rem
  text-decoration: none
  text-transform: uppercase
  font-size: 1.1em

.nav-social
  display: flex
  flex-direction: row
  align-items: center
  margin-left: auto

.social-link
  height: 1.5rem
  margin-left: .5rem


// footer

footer
  min-height: 4rem
  background-color: $color-secondary

// tour
.color-white
  color: $color-white

.hero
  height: 20rem
  background-position: center center
  background-size: cover

.hero-content
  display: flex
  flex-direction: column
  justify-content: flex-end
  height: 100%