@import "~normalize.css/normalize.css"

// variables

$color-primary: #dd3333 // 221, 51, 51
$color-secondary: #1B222C // 27, 34, 44
$color-white: #fff

$weight-bold: 700
$weight-normal: 500
$weight-thin: 300

$radius-small: .25rem

$spacing-b: .2rem
$spacing-s: .03rem

$font-normal: 12px 

$margin-m: 2rem
$margin-s: 1rem
$margin-xs: .5rem
$margin-xxs: .25rem

$bg-dark: rgba(27, 34, 44, 0.4)

h1, h2, h3, h4, h5, h6, p, div, span
  color: $color-secondary

body
  width: 100%
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  font-weight: $weight-thin
  line-height: 1.5
  letter-spacing: $spacing-s
  color: $color-secondary

*
  box-sizing: border-box

main
  width: 100%
  min-height: 100vh
  height: 100%
  display: flex
  flex-direction: column

section
  width: 100%
  flex: 1

.content
  width: 100%
  max-width: 1440px
  display: flex
  flex-wrap: wrap
  margin-left: auto
  margin-right: auto
  padding: 0 $margin-s

.column
  display: flex
  flex-direction: column

.row
  display: flex
  flex-direction: row

.m-t-0
  margin-top: 0

.m-b-0
  margin-bottom: 0

.m-t-s
  margin-top: $margin-s

.m-t-xs
  margin-top: $margin-xs

.m-t-xxs
  margin-top: $margin-xxs

// header

header
  min-height: 4rem
  background-color: $color-primary

nav
  display: flex
  align-items: center

.logo
  height: 4rem

.nav-item
  color: $color-white
  margin-left: 1rem
  text-decoration: none
  text-transform: uppercase
  font-size: 1.1em

.nav-social
  display: flex
  flex-direction: row
  align-items: center
  margin-left: auto

.social-link
  height: 1.5rem
  margin-left: .5rem


// footer

footer
  min-height: 4rem
  background-color: $color-secondary

// misc

.color-white
  color: $color-white

.hero-wrapper
  height: 20rem
  background-position: center center
  background-size: cover

.hero-small
  height: 10rem

.hero-content
  display: flex
  flex-direction: row
  justify-content: space-between
  height: 100%

// tour

.hero-column
  margin-top: auto

.flex-start
  display: flex
  flex-direction: column
  justify-content: flex-start

.flex-end
  display: flex
  justify-content: flex-end

button
  background-color: $color-primary
  border-color: $color-primary
  color: $color-white
  text-transform: uppercase
  padding: .5rem 1rem
  font-size: $font-normal
  letter-spacing: $spacing-b
  font-weight: $weight-thin
  border-radius: $radius-small
  margin: $margin-s 0

.hero-info
  display: flex
  flex-direction: row
  background-color: $bg-dark
  padding: $margin-s $margin-s $margin-s 0

.hero-pill
  display: flex
  flex-direction: column
  padding: 0 $margin-s
  border-right: 1px solid $color-white
  font-weight: $weight-normal
  &:last-child
    border-right: none
  
.day-circle
  display: flex
  justify-content: center
  align-items: center
  color: $color-white
  background-color: $color-primary
  margin: 0 $margin-s 0 $margin-xs
  width: 2rem
  height: 2rem
  font-weight: $weight-bold
  border-radius: 50%